extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col.sm-12
        P
          | HungerPass is the fastest growing dining club in the NY Tri-State area that helps diners save on dining while helping restaurants fill in their empty seats during off peak hours. HungerPass is a simple yet effective program. There are no coupons, hidden fees, surprise charges, or confusing rules. With plans as low as $1 a month HungerPass is the most affordable dining club EVER! Anyone can easily sign-up for HungerPass in just a few minutes and start saving at their favorite restaurants immediately.
          | <br /><br />
          
