extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 HungerPASS
          small &nbsp;Find places to dine at the best discounts!
  .row    
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h5
            a(href="/restaurant")  Akbar Restaurant 
            small &nbsp;
            p.address 2 South Street, Garden City, 11530
            p 
              span.label.label-warning Indian
    .col-xs-12.col-sm-4
      p.lead HungerPASS helps you find restaraunts to dine at with the best discounts!
      
      
